---
layout: page
title: Docs
permalink: /docs/
---

<style>
.sc-col{
    height: calc( 100vh - 116px );
}
.component img{
    width: 100%;
    height: 5rem;
}
</style>
{% assign parents = "getting-started,theme-basics,template-files,theme-functonality,customizer,theme-security,advanced-theme-topic,releasing-your-theme" | split: "," %}

      {% for p in parents %}
{% assign files = "," | split: "," %}

                {% for c in site.wp_theme_docs %}
             <div>
                            
                 

        
                {% if c.path contains p %}
{% assign files = files | concat : c %}
                 
                  
                   
                {% endif %}
         

                  </div>           
                   
                {% endfor %}
{% assign files_sort = files | sort: "order" %}
                
{% for x in files_sort %}
<a href="{{x.url}}"><div class="text-dark component-title mt-2 text-decoration-none">{{x.title}}</div></a>
                  {{x.path}}
                {% endfor %}
                {% endfor %}



              
