html{
    scroll-behavior: smooth;
}
a{
    color:black;
    text-decoration: none;
}
a:hover{
    color: rgba(0, 0, 0, 0.514);
    text-decoration: none;
}
.fa-xl{
    font-size: xx-large;
}
.bg-black{
    background-color: black;
}
.header-doc{
    border-bottom: 1px solid #dee2e6;
}
.description{
    font-size: 60px;
}
.search-form{
    border: 1px solid #dee2e6;
    padding: 5px;
    border-radius: 20px;
}
.search-form input{
    border: none;
    outline: none;
    height: 100%;
    margin-left: 5px;
    padding-left: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    color: #898b8f;
    width: calc( 100% - 1rem );
}
.s-form{
    margin-top: -5px;
}
.navbar .collapse .navbar-nav .nav-item #single:hover{
    border-bottom: 2px solid rgb(49, 155, 216);
}
.navbar .collapse .navbar-nav .nav-item .dropdown-menu a.dropdown-item:hover{
    color: rgb(49, 155, 216);
}
.button{
    padding: 13px;
    margin-right: 10px;
    border: 1px solid rgb(87, 85, 85);
    border-radius: 30px;
    font-weight: 500;
    min-width: 120px;
    cursor: pointer;
}
.button a,.button{
    color: rgb(87, 85, 85);
}
.button:hover{
    text-decoration: none;
    background-color: rgb(87, 85, 85);
}
.button:hover,.button:hover a{
    color: white;
}
.title{
    font-weight: 900;
    font-size: 50px;
    width: 100%;
    text-align: center;
}
.enter-section{
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #dee2e6;
    border-bottom: 2px solid #dee2e6;
}
.enter-section .buttons{
    display: flex;
    width: fit-content;
}
.ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
ul,ol{
    padding-left: 1rem;
}
.footer{
    padding: 20px 0px;
}
.footer .f-title{
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
}
hr{
    margin: 0.5rem 0;
    background-color: #dee2e6;
}
.sponsorship{
    margin-top: 1rem;
}
.sponsorship span{
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 1rem;
    display: block;
}
.v-align-sub{
    vertical-align: sub;
}
.attribution{
    width: 100%;
    background-color: black;
    color: white;
}
aside.card{
    position: -webkit-sticky;
    position: sticky;
    top: 1rem;
}
#index{
    overflow-y: scroll;
    max-height: 500px;
}
.preloader{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: lightgray;
    z-index: 999;
    display: flex;
    top: 0; 
    left: 0;
}

.spinner-border{
    margin: auto;
}
body.preload{
    overflow: hidden;
}
.search-form{
    position: relative;
}
.search-form ul{
    position: absolute;
    width: 100%;
    top: 2.5rem;
    border: 1px solid #dee2e6;
    background: white;
    margin: 0 -.3rem;
    border-radius: .5rem;
    z-index: 900;
}
.search-form ul .search-cat{
    background-color: aquamarine;
}
#blog-post-content img{
    width: 100%;
}
  