<script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-app.js"></script>
<!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
<script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-analytics.js"></script>

<!-- Add Firebase products that you want to use -->
<script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-firestore.js"></script>
<script>
  var firebaseConfig = {
    apiKey: "AIzaSyB_MRdXhatlsAK0XnMjzRcdjm-re9oAUos",
    authDomain: "coverui.firebaseapp.com",
    projectId: "coverui",
    storageBucket: "coverui.appspot.com",
    messagingSenderId: "401967826183",
    appId: "1:401967826183:web:4ed02b1e25d4dc1a3831a2",
    measurementId: "G-BNTNZYV4MR"
  };

  var userSession = false;
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();

</script>
