<footer class="footer bg-secondary">
    <div class="container">
        <div class="row">
            {% for f in site.data.footer %}
            <div class="col-12 col-md-3">
                <span class="f-title">{{f.title}}</span>
                <hr>
                <ul class="ul">
                    {% for d in f.datas %}
                    <li><a href="{{d.url}}">{{d.title}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
    </div>
</footer>
<div class="attribution py-2 text-center">
    Tüm Hakları Saklıdır.
</div>