<script>
  var deps = {
  css: {% if include.css %} "{{ include.css }}" {% else %} "" {% endif %},
  js: {% if include.js %} "{{ include.js }}" {% else %} "" {% endif %},
  }
  fetch("/dependencies-search.json")
  .then(d => d.json())
  .then(data => {
      for (let i = 0; i < data.length; i++) {
          const dep = data[i];
          if ( dep.label in deps.js.split(",") ) {
              var el = document.createElement("script");
              el.src = dep.src;
              document.querySelector("body").appendChild(el);
          }
          if ( dep.label in deps.css.split(",") ) {
              var el = document.createElement("link");
              el.src = dep.src;
              el.rel = "stylesheet";
              document.querySelector("body").appendChild(el);
          }
      }
  })
</script>
