<script>
  var deps = {
  css: {% if include.css %} {{ include.css | split: "," }} {% else %} [] {% endif %},
  js: {% if include.js %} {{ include.js | split: "," }} {% else %} [] {% endif %},
  }
  fetch(url)
  .then(d => d.json())
  .then(data => {
      for (let i = 0; i < data.length; i++) {
          const dep = data[i];
          if ( dep.label in deps.js ) {
              var el = document.createElement("script");
              el.src = dep.src;
              document.querySelector("body").append(el);
          }
          if ( dep.label in deps.css ) {
              var el = document.createElement("link");
              el.src = dep.src;
              el.rel = "stylesheet";
              document.querySelector("body").append(el);
          }
      }
  })
</script>
