<style>
    .search-form input{
        background-image: url("{{site.avatar}}");
    }
</style>

<header class="header-doc">
    <div class='py-2 text-center bg-black'>
        <span class='text-white font-weight-bold'>#BlackLivesMatter</span> 
        <span class="text-primary">Support the Equal Justice Initiative.</span>
    </div>
    <!--Navbar-->
    <div class="px-md-5">
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <div class="container-fluid">
            <a href="{{ site.baseurl }}/" class="navbar-brand">
                <img src="{{ site.avatar }}" alt="{{ site.name }} - {{ site.description }}" width="50px"/>
                <span class='font-weight-bold'>{{ site.name }}</span> 
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse mt-3" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item s-form">
                        <div class="nav-link">
                            <div class="form-group search-form">
                                <input autocomplete="off" spellcheck="false" type="text" name="s" id="search" placeholder="Search...">
                                <ul class="list-group list-group-flush" id="searchResults" style="display:none">
                                    
                                </ul>
                            </div>
                        </div>
                    </li>
                    {% for menu in site.data.menu %}
                        {% if menu.plural==false %}
                            <li class="nav-item">
                                <a class="nav-link single {{menu.class}}" href="{{menu.uri}}">
                                     {{menu.title}}
                                </a>
                            </li>
                        {% else %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle {{menu.class}}" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{menu.title|capitalize}}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    {% assign categories = menu.menus | map: "category" | uniq %}
                                    {% for c in categories %}
                                        <span class="dropdown-item font-weight-bold bg-dark text-light">{{c|capitalize}}</span>
                                        {% assign category_menu = menu.menus | where: "category",c %}
                                        {% for cm in category_menu %}
                                            <a class="dropdown-item" href="{{cm.uri}}">{{cm.title|capitalize}}</a>
                                        {% endfor %}
                                        {% if forloop.last == false %}
                                        <hr>
                                        {% endif %}
                                    {% endfor %}                    
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                    <li class="nav-item unauth">
                        <a class="nav-link single" href="/signin/">
                            Sign In
                        </a>
                    </li>
                    <li class="nav-item unauth">
                        <a class="nav-link single rounded bg-success text-white d-inline-block p-2" href="/signup/">
                            Sign Up
                        </a>
                    </li>
                    <li class="nav-item auth">
                        <span class="nav-link single" id="user">
                        Hi 
                        </span>
                    </li>
                    <li class="nav-item auth">
                        <a class="nav-link single" href="#" id="signout">
                            Sign Out
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        </nav>
    </div>
</header>

