<aside>
    <nav> 
    <ul class="nav flex-column">
    {% for nav in site.data.sidenav %}
        <li class="nav-item">
          <a class="nav-link text-muted" data-bs-toggle="collapse" href="#{{nav.title}}" role="button" aria-expanded="false" aria-controls="{{nav.title}}">{{nav.title}}</a>
          {% if nav.plural %}
          <nav class="nav collapse" id="{{nav.title}}">
            {% for submenu  in nav.menus %}
                  <a class="nav-link {% if submenu.uri == page.url %}active{% endif %}" href="{{submenu.uri}}">{{submenu.title}}</a>
              {% endfor %}
          </nav>
          {% endif %}
        </li>
    {% endfor %}
      </ul>
    </nav>
  </aside>