<aside>
    <nav> 
    <ul class="nav flex-column">
    {% for nav in site.data.sidenav %}
        <li class="nav-item">
          <a class="nav-link" href="{{nav.uri}}">{{nav.title}}</a>
          {% if nav.plural %}
            <ul class="nav flex-column ms-3">
              {% for submenu  in nav.menus %}
                <li class="nav-item">
                  <a class="nav-link" href="{{submenu.uri}}">{{submenu.title}}</a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
    {% endfor %}
      </ul>
    </nav>
  </aside>