<aside>
    <nav> 
    <ul class="nav flex-column">
    {% for nav in site.data.sidenav %}
        <li class="nav-item">
          <a class="nav-link text-muted" data-bs-toggle="collapse" href="#{{nav.title}}" role="button" aria-expanded="false" aria-controls="{{nav.title}}">
            <span class="d-flex justify-content-between">
              <span class="d-block">
                {{nav.title}}
              </span>
              {% if nav.plural %}  
              <i class="material-icons d-block">
                keyboard_arrow_down
              </i>
            {% endif %}
            </span>
          </a>
          {% if nav.plural %}
          <nav class="collapse" id="{{nav.title}}">
            <ul class="list-group list-group-flush ms-3">
            {% for submenu  in nav.menus %}
              <li class="list-group-item">
                  <a class="text-muted" href="{{submenu.uri}}">{{submenu.title}}</a>
                </li>
              {% endfor %}
            </ul>
          </nav>
          {% endif %}
        </li>
    {% endfor %}
      </ul>
    </nav>
  </aside>