---
layout: default
title: Documentation
permalink: /documentation/
---
<div class="container-fluid my-4">
  <div class="row">
    <div class="col-12 col-md-2">
      {% include sidenav.html %}
    </div>
    <div class="col-12 col-md-8 border-end border-start">
      <article class="post">
        <h1>{{ page.title }}</h1>

        <div class="entry">
          {{ content }}
        </div>

        <div class="date">
          Written on {{ page.date | date: "%B %e, %Y" }}
        </div>

        {% include disqus.html %}
      </article>
    </div>
    <div class="col-12 col-md-2">
      {% include article-content.html %}
    </div>
  </div>
</div>
